body{
  /*overflow: hidden !important;*/
  background-color: white !important;
}

.myDisplay{
  display: flex;
  display: -webkit-flex;
}

.App-header {

  font-size: 100%;
  color: #F6EAEA;
  background: rgba(160, 35, 163, 0.60);
  box-sizing: border-box;
  /* box-shadow: 0px 15px 11px rgba(0, 0, 0, 0.10); */
  border-radius: 40px;
}

.App-footer {
  height: auto;
  color: #F6EAEA;
  background: rgba(160, 35, 163, 0.60);
  border-radius: 40px;
  margin-bottom: 2%;
}

.App-content{
  /* background: rgba(160, 35, 163, 0.10); */
  width: 100%;
  height: 80%;
}

.sizeText {
  font-size: 60%;
}

.primary {
  color : white;
}
.bg-primary_mine {
  background-color: #F6EAEA;
}

.secondary {
  color : #E54EE8;
  opacity: 60%;
}

.bg-secondary_mine {

  opacity: 0.20 !important;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 2s ease; /* Safari et Chrome */
  -moz-transition: all 2s ease; /* Firefox */
  -ms-transition: all 2s ease; /* Internet Explorer 9 */
  -o-transition: all 2s ease; /* Opera */
  transition: all 2s ease;
}
.bg-secondary_mine:hover {

  opacity: 0.80 !important;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 2s ease; /* Safari et Chrome */
  -moz-transition: all 2s ease; /* Firefox */
  -ms-transition: all 2s ease; /* Internet Explorer 9 */
  -o-transition: all 2s ease; /* Opera */
  transition: all 2s ease;
}

.myRounded {
  border-radius: 80px !important;
}

.child{
  margin: 30px;
}

.scrollBarVertical {
  padding:5%;
  padding-top: 0%;
  height: 86%;
  overflow-x: hidden;
  overflow-y: auto;
  /*text-align:justify;*/
}

.imgRounded {
  filter: brightness(80%);
  border-radius: 30px;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 3s ease;

}

.imgRounded:hover {
  filter: brightness(100%);
  cursor: pointer;
  border: 3px dashed #E54EE8 !important;
  border-radius: 10px;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 2s ease;
}


/* Skin de la scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 15px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 15px !important;
}

.hoverText:hover{
  color : purple !important;
}


.menu_format_MyContent{
  height: 100%;
  /*background-color: blue;*/
  width: 30%;
  font-size: 2vw !important;
}

@media only screen and (max-width: 1300px) and (max-height: 800px)  {
  /* For tablets */
  .placementSocialNetwork{
    bottom: 8% !important;
    left: 70% !important;
  }

  .espacement_twitch_left_menu{
    padding-left: 1%;
  }

  .placementLogo {
    top: 7% !important;
  }

  .scrollBarVertical {
    padding:5%;
    padding-top: 0%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    /*text-align:justify;*/
  }
  /*body{*/
  /*  background-color: red !important;*/
  /*}*/
}

@media only screen and (max-width: 800px) and (max-height: 1300px)  {
  /* For tablets landscape */
  .placementSocialNetwork{
    bottom: 8% !important;
    left: 70% !important;
  }

  .espacement_twitch_left_menu{
    padding-left: 1%;
  }

  .placementLogo {
    top: 7% !important;
  }

  .scrollBarVertical {
    padding:5%;
    padding-top: 0%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    /*text-align:justify;*/
  }
  /*body{*/
  /*  background-color: red !important;*/
  /*}*/
}

@media only screen and (max-width: 1199px) and (max-height: 500px)  {
  /* For telephone landscape */
  .placementSocialNetwork{
    bottom: 17% !important;
    left: 50% !important;
  }

    .espacement_twitch_left_menu{
      padding-left: 5%;
    }

  .placementLogo {
    top: 10% !important;
  }

  .scrollBarVertical {
    padding:5%;
    padding-top: 0%;
    height: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    /*text-align:justify;*/
  }

  body{
    background-color: green !important;
  }
}


@media only screen and (max-width: 700px) {
  /* For téléphone: */
  .placementSocialNetwork{
    bottom: 5% !important;
    left: 50% !important;
  }

  .espacement_twitch_left_menu{
    padding-left: 5%;
  }

  .placementLogo {
    top: 5% !important;
  }

  .scrollBarVertical {
    padding:5%;
    padding-top: 0%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    /*text-align:justify;*/
  }
  /*body{*/
  /*  background-color: blue !important;*/
  /*}*/
}






